.top-tool {
    max-width: 250px;
    margin: 10px 0 0 auto;
}

.label {
    margin-right: 1rem;
}

.icon {
    border-radius: 10px;
    width: 180px;
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s;
}

.icon:hover {
    opacity: 0.8;
}

.productItem {
    padding: 10px;
    text-align: center;
}

.productItem.disabled {
    opacity: 0.6;
}

.productItem.disabled .icon {
    cursor: inherit;
}

.productItem.disabled .icon:hover {
    opacity: 1;
}

.operate {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.operate a {
    display: block;
    max-width: 100px;
    margin: 10px 0;
    padding: 10px 20px;
}

@media (max-width: 767px) {
    .icon {
        width: 150px;
    }

    h4 {
        font-size: 16px;
    }
}